* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}



a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}



aside, nav, footer, header, section, main {
	display: block;
}


ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

address {
  font-style: normal;
}



input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px;
}

.wrapper {
    background-color: #673A44;
    max-height: 40px;
    margin-bottom: 17px;
    max-width: 1920px;
    font-size: 12px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    color:#FFFFFF;
    padding: 13px 0px 13px 253px;
    margin: 0px;
    display: flex;
    gap: 41px
}

.header__login {
    color: #FFFFFF;
    display: flex;
    gap: 9px;
    align-items: center;
    padding-right: 253px;
}

.header__icon {
    display: flex;
    align-items: center;

}

.logo {
    padding-left: 253px;
}

.metrocab {
    display: flex;
    justify-content: space-between;
}

.cabinet {
    padding-left: 253px;
}

.heading1 {
    margin-top: 172px;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    margin-bottom: 28px;
}


.text1 {
    width: 472px;
    height: 108px;
    margin-bottom: 51px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.button1 {
    background-color: #843546;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 21px;
    border: 1px solid #6a3b45;
    border-radius: 6px;
    padding: 10px;
    width: 420px;
    height: 72px;
    margin-bottom: 120px;
}

.back {
    position: relative;
    top: 332px;
    z-index: -1;
    padding-right: 78px;
}

.frame {
    margin-right: 298px;
    width: 599px;
    height: 568px;
}

.twobutt {
    display: flex;
    gap: 20px;
    padding-left: 253px;
}

.metrobox {
    border-radius: 25px;
    width: 697px;
    height: 263px;
    box-shadow: 0 0 50px 0 #f2f2f2;
    display: flex;
    background-color:#FFFFFF;
    padding-top: 46px;
    justify-content: space-between;
}

.text {
    padding-left: 39px;
    padding-bottom: 59px;
}

.headmetro {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.headtext {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #575757;
}

.svg-button {
    padding-top: 6px;
    width: 40px;
    height: 40px;   
    right: 38px;
    position: relative;
}

.heading2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 127%;
    text-align: center;
    color: #25090f;
    margin: 100px;
}

.container3p { 
    margin-top: 50px;
    display: flex;
    gap: 20px;
    padding-right: 325px;
    padding-left: 325px;
    margin-bottom: 65px;
}

.contbox1 {
    border-radius: 25px;
    width: 410px;
    height: 470px;
    box-shadow: 0 0 50px 0 #f2f2f2;
}

.content1 {
    padding-top: 51px;
    padding-left: 54px;
    padding-right: 54px;
    padding-bottom: 30px;
}

.icon {
    margin-bottom: 31px;
    padding: 0px;
}

.conthead {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.conttext {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #575757;
}

.oper {
    text-align: center;
    margin-bottom: 99px;
}
.oper1 {
    border-radius: 25px;
    width: 1126px;
    height: 701px;
    box-shadow: 0 0 50px 0 #f2f2f2;
}

.grey1 {
    height: 1133px;
    background: #f2f2f2;
}

.greybox1 {
    display: flex;
    align-items: center;
    padding: 110px 253px 0px 253px;
}

.gb1text {
  width: 769px;
  height: 455px;
}

.gbox1 {
    margin: 0px 0px 20px 0px;
    text-align: left;
}

.gb1image {
   
    position: relative;
}

.promoimg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.fourcard {
    padding: 0px 322px 0px 253px;
}

.contentbox {
    display: flex;
    gap: 58px;
}

.boxtext {
    width: 481px;
    height: 138px;
}

.boxt {
    display: block;
    margin-bottom: 20px;
}


